In [1]:
import pandas as pd

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/gender_submission.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/train.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
# Overall survive rate
survive_rate = sum(train_data["Survived"])/len(train_data["Survived"])
print("Overall survive rate:", survive_rate)

Overall survive rate: 0.3838383838383838

In [5]:
features = ["Pclass", "Sex", "Age", "Fare"]
X = train_data[features].fillna(train_data.mean())  # replace NaNs with mean values
X = pd.get_dummies(X)
y = train_data.Survived

X_test = test_data[features].fillna(test_data.mean())
X_test = pd.get_dummies(X_test)

In [6]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(penalty='l2', C=1.0, random_state=0, max_iter=1000)
clf.fit(X, y)

predictions = clf.predict(X_test)
output = pd.DataFrame({'PassengerId': test_data["PassengerId"], "Survived": predictions})
output.to_csv("submission_logreg.csv", index=False)

/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [7]:
# output = pd.DataFrame({'PassengerId': test_data["PassengerId"], "Survived": predictions})
# output.to_csv("submission_logreg.csv", index=False)

In [8]:
clf.score(X, y)

0.7934904601571269

In [9]:
from sklearn import svm
svc = svm.SVC(C = 0.3)
svc.fit(X, y)
svc.score(X, y)

/opt/conda/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.7362514029180696

In [10]:
predictions_svm = svc.predict(X_test)
output_svm = pd.DataFrame({"PassengerId": test_data.PassengerId, "Survived": predictions_svm})
output_svm.to_csv("submission_svm.csv", index=False)